@model IEnumerable<SpaManagement.ViewModels.ServiceDetailsViewmodel>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<br>
<div class="row">
    <div class="col-6">
        <div class="p-4 border rounded bg-white h-100">
            <div class="row">
                <div class="col-6">
                    <h2 class="text-primary">Customer List</h2>
                </div>
            </div>
            <br>
            <br>
            <partial name="_StatusMessage" model="@ViewData["Customer"]" />
            <table id="tblData" class="table table-striped table-bordered" style="width:100%">
                <thead class="thead-dark">
                <tr class="table-info">
                    <th>Customer Name</th>
                    <th>Phone</th>
                    <th>Identity Card</th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-6">
        <div class="p-4 border rounded bg-white h-100">
            <div class="row">
                <div class="col-6">
                    <h2 class="text-primary">Service List</h2>
                </div>
            </div>
            <br>
            <br>
            <partial name="_StatusMessage" model="@ViewData["Service"]" />
            <table id="tblData1" class="table table-striped table-bordered" style="width:100%">
                <thead class="thead-dark">
                <tr class="table-info">
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form method="post" asp-action="Summary">
            <br/>
            @if (Model.Count() > 0)
            {
                <div class="backgroundWhiteBorder">
                    <div class="container">
                        <div class="card">
                            <div class="card-header bg-dark text-light ml-0 row container">
                                <div class="col-6">
                                    <i class="fa fa-shopping-cart"></i> &nbsp;
                                    Shopping Cart
                                </div>
                                <div class="col-6 text-right">
                                    <a asp-area="Authenticated" asp-controller="Services" asp-action="" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                                </div>
                            </div>
                            <div class="card-body">
                                @foreach (var item in Model)
                                {
                                    <div class="row">
                                        <div class="col-12 text-sm-center col-lg-6 text-lg-left">
                                            <h5><strong>@item.Service.Name</strong></h5>
                                            <p><small>@item.Service.Note</small></p>
                                        </div>
                                        <div class="col-12 text-sm-center col-lg-5 text-lg-right row">
                                            <div class="col-4 text-md-right" style="padding-top:5px;">
                                                <h6><strong>$ @item.Service.Price<span class="text-muted">x</span> @item.Slot </strong></h6>
                                            </div>
                                            <div class="col-6 col-sm-4 col-lg-6">
                                                <div class="float-right mx-1">
                                                    <a asp-action="plus" asp-route-cartId="@item.Service.Id" class="btn btn-primary">
                                                        <i class="fas fa-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="float-right mx-1">
                                                    <a asp-action="minus" asp-route-cartId="@item.Service.Id" class="btn btn-danger">
                                                        <i class="fas fa-minus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-2 col-sm-4 col-lg-2 text-right">
                                                <a asp-action="remove" asp-route-cartId="@item.Service.Id" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                }
                                <div class="row">
                                    <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between bg-light">
                                                <span class="text-info"> Total (VND)</span>
                                                @{
                                                    double price = 0;
                                                    foreach (var service in Model)
                                                    {
                                                        price += service.Slot * service.Service.Price;
                                                    }
                                                }
                                                <strong class="text-info">đ <span id="txtOrderTotal">@price</span></strong>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-footer row">
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-outline-success btn-sm">
                                            Place Order
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div> There is no item in shopping cart </div>
            }
        </form>
    </div>
</div>
@section Scripts{
            <script src="~/js/ServiceIndex.js"></script>
}
