@page
@using SpaManagement.Utility
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="py-4">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form autocomplete="off" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h1 class="h3 mb-3 font-weight-normal text-primary" style="text-align:center;">Create New User</h1>
                        <hr />
                        <div class="py-2">
                            <input asp-for="Input.Name" placeholder="Name" class="form-control" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.Email" type="email" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="py-2 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">+84</span>
                            </div>
                            <input asp-for="Input.PhoneNumber" type="text" placeholder="Phone Number" class="form-control" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <input asp-for="Input.Password" placeholder="Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="py-2">
                            <div class="form-group">
                                    @Html.DropDownListFor(m => m.Input.Branch, Model.Input.BranchList,
                                        "-Please select a Branch", new { @class = "form-control" })
                                </div>
                                <span class="text-danger">@Html.ValidationMessageFor(m => m.Input.Branch)</span>
                        </div>
                        <div class="py-2">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.Input.Role, Model.Input.RoleList,
                                    "-Please select a role", new { @class = "form-control" })
                            </div>
                            <span class="text-danger">@Html.ValidationMessageFor(m => m.Input.Role)</span>
                        </div>
                        <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Create</button>
                    </form>  
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}